@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@using CanvasAccountRegistration.Logic.Settings
@using Microsoft.Extensions.Options
@inject IOptions<ApplicationSettings> settings
@inject LocService SharedLocalizer
<h1>Hej apa!</h1>