@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@using CanvasAccountRegistration.Logic.Settings
@using Microsoft.Extensions.Options
@inject IOptions<ApplicationSettings> settings
@inject LocService SharedLocalizer
@model string[]
<ul>
    @foreach (var accountType in Model)
    {
        <li>
            <a asp-controller="Home" asp-action="List" asp-route-type="@accountType">
                @accountType
            </a>
        </li>
    }  
</ul>